/*body styles*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
html{
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    background-color: hsl(233, 47%, 7%);
}

h1{
    color: white;
    font-family:lexend Deca
}
span{
    color: hsl(277, 64%, 61%);
}
h2{
    font-family: lexend Deca;
    
}
h2, p{
    color: white;
}
p{
    font-family:Inter;
    opacity: .6;
}
.container-stats{
    display: flex;
}

/*media query for mobile 375px*/
@media screen and (max-width:375px) {
    
    .container-desktop{
        display: none;
    }
    .container-mobile{
        background-color: hsl(244, 38%, 16%);
        height: 80%;
        width: 80%;
        margin: auto;
        margin-top: 5rem;
        border-radius: 1rem;
        text-align: center;
    }
    header{
        height: 20rem;
        width: 100%;
        background-color: hsl(277, 65%, 40%);
        border-radius: 1rem 1rem 0 0;
    }
    img{
        height: 20rem;
        width: 100%;
        border-radius: 1rem 1rem 0 0 ;
        opacity: .3;
    }
    .first-stat{
        width: 100%;
        align-content: center;
    }
    h1{
        font-size: 2.35rem;
        margin: 2rem 3rem;
    }
    h2{
        margin-bottom: -.75rem;
        font-size: 2rem;
    }
    p{
        font-size: 1.1rem;
        line-height: 1.75rem;
    }
    



}
/*media query for desktop 1440px*/
@media screen and (max-width:1440px) {

    .container-mobile{
        display: none;
    }
    .container-desktop{
        margin: auto;
        margin-top: 15rem;
        height: 40rem;
        width: 70%;
        display: flex;
        background-color: hsl(244, 38%, 16%);
        border-radius: 1rem;
        
    }
    .desktop-flex{
        margin: 4rem 0 4rem 4rem;
        height: 100%;
        width: 50%;
        display: block;

        
    }
    header{
        height: 100%;
        width: 50%;
        display: block;
        background-color: hsl(277, 64%, 58%);
        
    }
    img{
        height: 100%;
        width: 100%;
        position: relative;
        border-radius: 0 1rem 1rem 0;
        opacity: .3;
    }
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2.25rem;
        margin-top: 4rem;
        margin-bottom: -1rem;
    }
    p{
        font-size: 1.5rem;
    }
    .description{
        margin: 3rem;
        margin-left: 0rem;
    }
    .container-stats{
        flex-direction: row;
        gap: 2rem;
    }
    .first-stat{
        font-size: 1.25rem;
    }




}